---
- name: Deploy haproxy.cfg from template
  ansible.builtin.template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    owner: root
    group: root
    mode: "0644"
    validate: "haproxy -c -f %s"
  changed_when: true
  notify: "lb:reload"
...
